html {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  background-color: #070720;
  color: #f6f6f8;
}

footer {
  margin-left: 18%;
  text-align: center;
}

nav {
  display: block;
  margin: 0;
  padding: 0px;
  width: 18%;
  height: 100%;
  position: fixed;
  overflow-x: auto;
  font-size: 2rem;
  background-color: #17172e;
  border-right: 0.2rem solid black;
}

.nav-item {
  padding: 10px;
  font-size: 2.2rem;
}



ul {
  padding: 0;
  width: 100%;
}


 a {
  text-decoration: none;
  color: #a5a7c4;
 }

 ul li[class="nav-items"] {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-left: 15px;
}

#main-doc {
  margin-left: 18%;
}

img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-section {
  padding: 20px;
  background-color: #1b1b3b;
  margin: 15px 30px;
  border-radius: 20px;
}

header {
  font-weight: bold;
  font-size: 40px;
}


p {
  line-height: 120%;
  font-size: 20px;
}

@media (max-width: 750px){
  p {
    font-size: 16px;
  }

  nav {
    visibility: hidden;
  }

  #main-doc {
    margin-left:auto;
  }
}

#item-ul, .footer {
  margin-left: 30px;
}